minhdataingestfactory/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "minhdataingestfactory"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/keymetrics_cleansing_ingestion_dataflow')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "raw_datalake_dataset",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "stage_datalake_dataset",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "select1"
						},
						{
							"name": "filter1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          symbol as string,",
						"          date as date,",
						"          calendarYear as short,",
						"          period as string,",
						"          revenuePerShare as double,",
						"          netIncomePerShare as double,",
						"          operatingCashFlowPerShare as double,",
						"          freeCashFlowPerShare as double,",
						"          cashPerShare as double,",
						"          bookValuePerShare as double,",
						"          tangibleBookValuePerShare as double,",
						"          shareholdersEquityPerShare as double,",
						"          interestDebtPerShare as double,",
						"          peRatio as double,",
						"          priceToSalesRatio as double,",
						"          pocfratio as double,",
						"          pfcfRatio as double,",
						"          pbRatio as double,",
						"          ptbRatio as double,",
						"          evToSales as double,",
						"          enterpriseValueOverEBITDA as double,",
						"          evToOperatingCashFlow as double,",
						"          evToFreeCashFlow as double,",
						"          earningsYield as double,",
						"          freeCashFlowYield as double,",
						"          debtToEquity as double,",
						"          debtToAssets as double,",
						"          netDebtToEBITDA as double,",
						"          currentRatio as double,",
						"          interestCoverage as double,",
						"          incomeQuality as double,",
						"          dividendYield as double,",
						"          payoutRatio as double,",
						"          salesGeneralAndAdministrativeToRevenue as double,",
						"          researchAndDdevelopementToRevenue as double,",
						"          intangiblesToTotalAssets as double,",
						"          capexToOperatingCashFlow as double,",
						"          capexToRevenue as double,",
						"          capexToDepreciation as double,",
						"          stockBasedCompensationToRevenue as double,",
						"          grahamNumber as double,",
						"          roic as double,",
						"          returnOnTangibleAssets as double,",
						"          grahamNetNet as double,",
						"          workingCapital as long,",
						"          tangibleAssetValue as long,",
						"          netCurrentAssetValue as long,",
						"          investedCapital as long,",
						"          averageReceivables as long,",
						"          averagePayables as long,",
						"          averageInventory as long,",
						"          daysSalesOutstanding as double,",
						"          daysPayablesOutstanding as double,",
						"          daysOfInventoryOnHand as double,",
						"          receivablesTurnover as double,",
						"          payablesTurnover as double,",
						"          inventoryTurnover as double,",
						"          roe as double,",
						"          capexPerShare as double,",
						"          marketCap as double,",
						"          enterpriseValue as double",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source1",
						"source1 select(mapColumn(",
						"          symbol,",
						"          date,",
						"          revenuePerShare,",
						"          netIncomePerShare,",
						"          operatingCashFlowPerShare,",
						"          freeCashFlowPerShare,",
						"          cashPerShare,",
						"          peRatio,",
						"          priceToSalesRatio,",
						"          pbRatio,",
						"          debtToEquity,",
						"          currentRatio,",
						"          interestCoverage,",
						"          roe,",
						"          marketCap,",
						"          enterpriseValue,",
						"          bookValuePerShare,",
						"          roic",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select1",
						"select1 filter(!isNull(peRatio) && !isNull(netIncomePerShare) && !isNull(operatingCashFlowPerShare) && !isNull(revenuePerShare) && !isNull(freeCashFlowPerShare) && debtToEquity >= 0 && interestCoverage >= 0) ~> filter1",
						"filter1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> sink1"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/profile_cleansing_ingestion_dataflow')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "raw_datalake_dataset",
								"type": "DatasetReference"
							},
							"name": "stockinfo"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "stage_datalake_dataset",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "select1"
						},
						{
							"name": "filter1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          symbol as string,",
						"          price as double,",
						"          beta as double,",
						"          volAvg as integer,",
						"          mktCap as long,",
						"          lastDiv as double,",
						"          range as string,",
						"          changes as double,",
						"          companyName as string,",
						"          currency as string,",
						"          cik as integer,",
						"          isin as string,",
						"          cusip as integer,",
						"          exchange as string,",
						"          exchangeShortName as string,",
						"          industry as string,",
						"          website as string,",
						"          description as string,",
						"          ceo as string,",
						"          sector as string,",
						"          country as string,",
						"          fullTimeEmployees as integer,",
						"          phone as string,",
						"          address as string,",
						"          city as string,",
						"          state as string,",
						"          zip as string,",
						"          dcfDiff as double,",
						"          dcf as double,",
						"          image as string,",
						"          ipoDate as date,",
						"          defaultImage as boolean,",
						"          isEtf as boolean,",
						"          isActivelyTrading as boolean,",
						"          isAdr as boolean,",
						"          isFund as boolean",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> stockinfo",
						"stockinfo select(mapColumn(",
						"          symbol,",
						"          price,",
						"          volAvg,",
						"          mktCap,",
						"          lastDiv,",
						"          range,",
						"          changes",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select1",
						"select1 filter(!isNull(symbol) && price > 0) ~> filter1",
						"filter1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> sink1"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/quote_cleansing_ingestion_dataflow')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "raw_datalake_dataset",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "stage_datalake_dataset",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "select1"
						},
						{
							"name": "filter1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          symbol as string,",
						"          name as string,",
						"          price as double,",
						"          changesPercentage as double,",
						"          change as double,",
						"          dayLow as double,",
						"          dayHigh as double,",
						"          yearHigh as double,",
						"          yearLow as double,",
						"          marketCap as long,",
						"          priceAvg50 as double,",
						"          priceAvg200 as double,",
						"          exchange as string,",
						"          volume as integer,",
						"          avgVolume as integer,",
						"          open as double,",
						"          previousClose as double,",
						"          eps as double,",
						"          pe as double,",
						"          earningsAnnouncement as string,",
						"          sharesOutstanding as long,",
						"          timestamp as integer",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source1",
						"source1 select(mapColumn(",
						"          symbol,",
						"          price,",
						"          changesPercentage,",
						"          change,",
						"          dayLow,",
						"          dayHigh,",
						"          yearHigh,",
						"          yearLow,",
						"          marketCap,",
						"          priceAvg50,",
						"          priceAvg200,",
						"          volume,",
						"          avgVolume,",
						"          eps,",
						"          pe",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select1",
						"select1 filter(price > 0 && dayLow >= 0 && dayHigh >= 0 && yearLow >= 0 && yearHigh >= 0 && marketCap > 0 && !isNull(pe) && !isNull(eps)) ~> filter1",
						"filter1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> sink1"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ingestion_pipeline_api')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy profile to raw zone",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"copyBehavior": "FlattenHierarchy"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['symbol']"
										},
										"sink": {
											"name": "symbol"
										}
									},
									{
										"source": {
											"path": "$['price']"
										},
										"sink": {
											"name": "price"
										}
									},
									{
										"source": {
											"path": "$['beta']"
										},
										"sink": {
											"name": "beta"
										}
									},
									{
										"source": {
											"path": "$['volAvg']"
										},
										"sink": {
											"name": "volAvg"
										}
									},
									{
										"source": {
											"path": "$['mktCap']"
										},
										"sink": {
											"name": "mktCap"
										}
									},
									{
										"source": {
											"path": "$['lastDiv']"
										},
										"sink": {
											"name": "lastDiv"
										}
									},
									{
										"source": {
											"path": "$['range']"
										},
										"sink": {
											"name": "range"
										}
									},
									{
										"source": {
											"path": "$['changes']"
										},
										"sink": {
											"name": "changes"
										}
									},
									{
										"source": {
											"path": "$['companyName']"
										},
										"sink": {
											"name": "companyName"
										}
									},
									{
										"source": {
											"path": "$['currency']"
										},
										"sink": {
											"name": "currency"
										}
									},
									{
										"source": {
											"path": "$['cik']"
										},
										"sink": {
											"name": "cik"
										}
									},
									{
										"source": {
											"path": "$['isin']"
										},
										"sink": {
											"name": "isin"
										}
									},
									{
										"source": {
											"path": "$['cusip']"
										},
										"sink": {
											"name": "cusip"
										}
									},
									{
										"source": {
											"path": "$['exchange']"
										},
										"sink": {
											"name": "exchange"
										}
									},
									{
										"source": {
											"path": "$['exchangeShortName']"
										},
										"sink": {
											"name": "exchangeShortName"
										}
									},
									{
										"source": {
											"path": "$['industry']"
										},
										"sink": {
											"name": "industry"
										}
									},
									{
										"source": {
											"path": "$['website']"
										},
										"sink": {
											"name": "website"
										}
									},
									{
										"source": {
											"path": "$['description']"
										},
										"sink": {
											"name": "description"
										}
									},
									{
										"source": {
											"path": "$['ceo']"
										},
										"sink": {
											"name": "ceo"
										}
									},
									{
										"source": {
											"path": "$['sector']"
										},
										"sink": {
											"name": "sector"
										}
									},
									{
										"source": {
											"path": "$['country']"
										},
										"sink": {
											"name": "country"
										}
									},
									{
										"source": {
											"path": "$['fullTimeEmployees']"
										},
										"sink": {
											"name": "fullTimeEmployees"
										}
									},
									{
										"source": {
											"path": "$['phone']"
										},
										"sink": {
											"name": "phone"
										}
									},
									{
										"source": {
											"path": "$['address']"
										},
										"sink": {
											"name": "address"
										}
									},
									{
										"source": {
											"path": "$['city']"
										},
										"sink": {
											"name": "city"
										}
									},
									{
										"source": {
											"path": "$['state']"
										},
										"sink": {
											"name": "state"
										}
									},
									{
										"source": {
											"path": "$['zip']"
										},
										"sink": {
											"name": "zip"
										}
									},
									{
										"source": {
											"path": "$['dcfDiff']"
										},
										"sink": {
											"name": "dcfDiff"
										}
									},
									{
										"source": {
											"path": "$['dcf']"
										},
										"sink": {
											"name": "dcf"
										}
									},
									{
										"source": {
											"path": "$['image']"
										},
										"sink": {
											"name": "image"
										}
									},
									{
										"source": {
											"path": "$['ipoDate']"
										},
										"sink": {
											"name": "ipoDate"
										}
									},
									{
										"source": {
											"path": "$['defaultImage']"
										},
										"sink": {
											"name": "defaultImage"
										}
									},
									{
										"source": {
											"path": "$['isEtf']"
										},
										"sink": {
											"name": "isEtf"
										}
									},
									{
										"source": {
											"path": "$['isActivelyTrading']"
										},
										"sink": {
											"name": "isActivelyTrading"
										}
									},
									{
										"source": {
											"path": "$['isAdr']"
										},
										"sink": {
											"name": "isAdr"
										}
									},
									{
										"source": {
											"path": "$['isFund']"
										},
										"sink": {
											"name": "isFund"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "stocks_api_dataset",
								"type": "DatasetReference",
								"parameters": {
									"path": "/profile/msft",
									"query": "\"\""
								}
							}
						],
						"outputs": [
							{
								"referenceName": "raw_datalake_dataset",
								"type": "DatasetReference",
								"parameters": {
									"folderPath": "@{pipeline().parameters.apiFolderPath}/profile"
								}
							}
						]
					},
					{
						"name": "Copy quote",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"copyBehavior": "FlattenHierarchy"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['symbol']"
										},
										"sink": {
											"name": "symbol"
										}
									},
									{
										"source": {
											"path": "$['name']"
										},
										"sink": {
											"name": "name"
										}
									},
									{
										"source": {
											"path": "$['price']"
										},
										"sink": {
											"name": "price"
										}
									},
									{
										"source": {
											"path": "$['changesPercentage']"
										},
										"sink": {
											"name": "changesPercentage"
										}
									},
									{
										"source": {
											"path": "$['change']"
										},
										"sink": {
											"name": "change"
										}
									},
									{
										"source": {
											"path": "$['dayLow']"
										},
										"sink": {
											"name": "dayLow"
										}
									},
									{
										"source": {
											"path": "$['dayHigh']"
										},
										"sink": {
											"name": "dayHigh"
										}
									},
									{
										"source": {
											"path": "$['yearHigh']"
										},
										"sink": {
											"name": "yearHigh"
										}
									},
									{
										"source": {
											"path": "$['yearLow']"
										},
										"sink": {
											"name": "yearLow"
										}
									},
									{
										"source": {
											"path": "$['marketCap']"
										},
										"sink": {
											"name": "marketCap"
										}
									},
									{
										"source": {
											"path": "$['priceAvg50']"
										},
										"sink": {
											"name": "priceAvg50"
										}
									},
									{
										"source": {
											"path": "$['priceAvg200']"
										},
										"sink": {
											"name": "priceAvg200"
										}
									},
									{
										"source": {
											"path": "$['exchange']"
										},
										"sink": {
											"name": "exchange"
										}
									},
									{
										"source": {
											"path": "$['volume']"
										},
										"sink": {
											"name": "volume"
										}
									},
									{
										"source": {
											"path": "$['avgVolume']"
										},
										"sink": {
											"name": "avgVolume"
										}
									},
									{
										"source": {
											"path": "$['open']"
										},
										"sink": {
											"name": "open"
										}
									},
									{
										"source": {
											"path": "$['previousClose']"
										},
										"sink": {
											"name": "previousClose"
										}
									},
									{
										"source": {
											"path": "$['eps']"
										},
										"sink": {
											"name": "eps"
										}
									},
									{
										"source": {
											"path": "$['pe']"
										},
										"sink": {
											"name": "pe"
										}
									},
									{
										"source": {
											"path": "$['earningsAnnouncement']"
										},
										"sink": {
											"name": "earningsAnnouncement"
										}
									},
									{
										"source": {
											"path": "$['sharesOutstanding']"
										},
										"sink": {
											"name": "sharesOutstanding"
										}
									},
									{
										"source": {
											"path": "$['timestamp']"
										},
										"sink": {
											"name": "timestamp"
										}
									}
								],
								"collectionReference": ""
							}
						},
						"inputs": [
							{
								"referenceName": "stocks_api_dataset",
								"type": "DatasetReference",
								"parameters": {
									"path": "/quote/msft"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "raw_datalake_dataset",
								"type": "DatasetReference",
								"parameters": {
									"folderPath": {
										"value": "@{pipeline().parameters.apiFolderPath}/quote",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Copy income statement",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"copyBehavior": "FlattenHierarchy"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['symbol']"
										},
										"sink": {
											"name": "symbol"
										}
									},
									{
										"source": {
											"path": "[['date']"
										},
										"sink": {
											"name": "date"
										}
									},
									{
										"source": {
											"path": "[['Revenue']"
										},
										"sink": {
											"name": "Revenue"
										}
									},
									{
										"source": {
											"path": "[['Revenue Growth']"
										},
										"sink": {
											"name": "Revenue Growth"
										}
									},
									{
										"source": {
											"path": "[['Cost of Revenue']"
										},
										"sink": {
											"name": "Cost of Revenue"
										}
									},
									{
										"source": {
											"path": "[['Gross Profit']"
										},
										"sink": {
											"name": "Gross Profit"
										}
									},
									{
										"source": {
											"path": "[['R&D Expenses']"
										},
										"sink": {
											"name": "R&D Expenses"
										}
									},
									{
										"source": {
											"path": "[['SG&A Expense']"
										},
										"sink": {
											"name": "SG&A Expense"
										}
									},
									{
										"source": {
											"path": "[['Operating Expenses']"
										},
										"sink": {
											"name": "Operating Expenses"
										}
									},
									{
										"source": {
											"path": "[['Operating Income']"
										},
										"sink": {
											"name": "Operating Income"
										}
									},
									{
										"source": {
											"path": "[['Interest Expense']"
										},
										"sink": {
											"name": "Interest Expense"
										}
									},
									{
										"source": {
											"path": "[['Earnings before Tax']"
										},
										"sink": {
											"name": "Earnings before Tax"
										}
									},
									{
										"source": {
											"path": "[['Income Tax Expense']"
										},
										"sink": {
											"name": "Income Tax Expense"
										}
									},
									{
										"source": {
											"path": "[['Net Income - Non-Controlling int']"
										},
										"sink": {
											"name": "Net Income - Non-Controlling int"
										}
									},
									{
										"source": {
											"path": "[['Net Income - Discontinued ops']"
										},
										"sink": {
											"name": "Net Income - Discontinued ops"
										}
									},
									{
										"source": {
											"path": "[['Net Income']"
										},
										"sink": {
											"name": "Net Income"
										}
									},
									{
										"source": {
											"path": "[['Preferred Dividends']"
										},
										"sink": {
											"name": "Preferred Dividends"
										}
									},
									{
										"source": {
											"path": "[['Net Income Com']"
										},
										"sink": {
											"name": "Net Income Com"
										}
									},
									{
										"source": {
											"path": "[['EPS']"
										},
										"sink": {
											"name": "EPS"
										}
									},
									{
										"source": {
											"path": "[['EPS Diluted']"
										},
										"sink": {
											"name": "EPS Diluted"
										}
									},
									{
										"source": {
											"path": "[['Weighted Average Shs Out']"
										},
										"sink": {
											"name": "Weighted Average Shs Out"
										}
									},
									{
										"source": {
											"path": "[['Weighted Average Shs Out (Dil)']"
										},
										"sink": {
											"name": "Weighted Average Shs Out (Dil)"
										}
									},
									{
										"source": {
											"path": "[['Dividend per Share']"
										},
										"sink": {
											"name": "Dividend per Share"
										}
									},
									{
										"source": {
											"path": "[['Gross Margin']"
										},
										"sink": {
											"name": "Gross Margin"
										}
									},
									{
										"source": {
											"path": "[['EBITDA Margin']"
										},
										"sink": {
											"name": "EBITDA Margin"
										}
									},
									{
										"source": {
											"path": "[['EBIT Margin']"
										},
										"sink": {
											"name": "EBIT Margin"
										}
									},
									{
										"source": {
											"path": "[['Profit Margin']"
										},
										"sink": {
											"name": "Profit Margin"
										}
									},
									{
										"source": {
											"path": "[['Free Cash Flow margin']"
										},
										"sink": {
											"name": "Free Cash Flow margin"
										}
									},
									{
										"source": {
											"path": "[['EBITDA']"
										},
										"sink": {
											"name": "EBITDA"
										}
									},
									{
										"source": {
											"path": "[['EBIT']"
										},
										"sink": {
											"name": "EBIT"
										}
									},
									{
										"source": {
											"path": "[['Consolidated Income']"
										},
										"sink": {
											"name": "Consolidated Income"
										}
									},
									{
										"source": {
											"path": "[['Earnings Before Tax Margin']"
										},
										"sink": {
											"name": "Earnings Before Tax Margin"
										}
									},
									{
										"source": {
											"path": "[['Net Profit Margin']"
										},
										"sink": {
											"name": "Net Profit Margin"
										}
									}
								],
								"collectionReference": "$['financials']"
							}
						},
						"inputs": [
							{
								"referenceName": "stocks_api_dataset",
								"type": "DatasetReference",
								"parameters": {
									"path": "financials/income-statement/msft",
									"query": "\"\""
								}
							}
						],
						"outputs": [
							{
								"referenceName": "raw_datalake_dataset",
								"type": "DatasetReference",
								"parameters": {
									"folderPath": {
										"value": "@{pipeline().parameters.apiFolderPath}/incomestatement",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Copy key metrics",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"copyBehavior": "FlattenHierarchy"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['symbol']"
										},
										"sink": {
											"name": "symbol"
										}
									},
									{
										"source": {
											"path": "$['date']"
										},
										"sink": {
											"name": "date"
										}
									},
									{
										"source": {
											"path": "$['calendarYear']"
										},
										"sink": {
											"name": "calendarYear"
										}
									},
									{
										"source": {
											"path": "$['period']"
										},
										"sink": {
											"name": "period"
										}
									},
									{
										"source": {
											"path": "$['revenuePerShare']"
										},
										"sink": {
											"name": "revenuePerShare"
										}
									},
									{
										"source": {
											"path": "$['netIncomePerShare']"
										},
										"sink": {
											"name": "netIncomePerShare"
										}
									},
									{
										"source": {
											"path": "$['operatingCashFlowPerShare']"
										},
										"sink": {
											"name": "operatingCashFlowPerShare"
										}
									},
									{
										"source": {
											"path": "$['freeCashFlowPerShare']"
										},
										"sink": {
											"name": "freeCashFlowPerShare"
										}
									},
									{
										"source": {
											"path": "$['cashPerShare']"
										},
										"sink": {
											"name": "cashPerShare"
										}
									},
									{
										"source": {
											"path": "$['bookValuePerShare']"
										},
										"sink": {
											"name": "bookValuePerShare"
										}
									},
									{
										"source": {
											"path": "$['tangibleBookValuePerShare']"
										},
										"sink": {
											"name": "tangibleBookValuePerShare"
										}
									},
									{
										"source": {
											"path": "$['shareholdersEquityPerShare']"
										},
										"sink": {
											"name": "shareholdersEquityPerShare"
										}
									},
									{
										"source": {
											"path": "$['interestDebtPerShare']"
										},
										"sink": {
											"name": "interestDebtPerShare"
										}
									},
									{
										"source": {
											"path": "$['peRatio']"
										},
										"sink": {
											"name": "peRatio"
										}
									},
									{
										"source": {
											"path": "$['priceToSalesRatio']"
										},
										"sink": {
											"name": "priceToSalesRatio"
										}
									},
									{
										"source": {
											"path": "$['pocfratio']"
										},
										"sink": {
											"name": "pocfratio"
										}
									},
									{
										"source": {
											"path": "$['pfcfRatio']"
										},
										"sink": {
											"name": "pfcfRatio"
										}
									},
									{
										"source": {
											"path": "$['pbRatio']"
										},
										"sink": {
											"name": "pbRatio"
										}
									},
									{
										"source": {
											"path": "$['ptbRatio']"
										},
										"sink": {
											"name": "ptbRatio"
										}
									},
									{
										"source": {
											"path": "$['evToSales']"
										},
										"sink": {
											"name": "evToSales"
										}
									},
									{
										"source": {
											"path": "$['enterpriseValueOverEBITDA']"
										},
										"sink": {
											"name": "enterpriseValueOverEBITDA"
										}
									},
									{
										"source": {
											"path": "$['evToOperatingCashFlow']"
										},
										"sink": {
											"name": "evToOperatingCashFlow"
										}
									},
									{
										"source": {
											"path": "$['evToFreeCashFlow']"
										},
										"sink": {
											"name": "evToFreeCashFlow"
										}
									},
									{
										"source": {
											"path": "$['earningsYield']"
										},
										"sink": {
											"name": "earningsYield"
										}
									},
									{
										"source": {
											"path": "$['freeCashFlowYield']"
										},
										"sink": {
											"name": "freeCashFlowYield"
										}
									},
									{
										"source": {
											"path": "$['debtToEquity']"
										},
										"sink": {
											"name": "debtToEquity"
										}
									},
									{
										"source": {
											"path": "$['debtToAssets']"
										},
										"sink": {
											"name": "debtToAssets"
										}
									},
									{
										"source": {
											"path": "$['netDebtToEBITDA']"
										},
										"sink": {
											"name": "netDebtToEBITDA"
										}
									},
									{
										"source": {
											"path": "$['currentRatio']"
										},
										"sink": {
											"name": "currentRatio"
										}
									},
									{
										"source": {
											"path": "$['interestCoverage']"
										},
										"sink": {
											"name": "interestCoverage"
										}
									},
									{
										"source": {
											"path": "$['incomeQuality']"
										},
										"sink": {
											"name": "incomeQuality"
										}
									},
									{
										"source": {
											"path": "$['dividendYield']"
										},
										"sink": {
											"name": "dividendYield"
										}
									},
									{
										"source": {
											"path": "$['payoutRatio']"
										},
										"sink": {
											"name": "payoutRatio"
										}
									},
									{
										"source": {
											"path": "$['salesGeneralAndAdministrativeToRevenue']"
										},
										"sink": {
											"name": "salesGeneralAndAdministrativeToRevenue"
										}
									},
									{
										"source": {
											"path": "$['researchAndDdevelopementToRevenue']"
										},
										"sink": {
											"name": "researchAndDdevelopementToRevenue"
										}
									},
									{
										"source": {
											"path": "$['intangiblesToTotalAssets']"
										},
										"sink": {
											"name": "intangiblesToTotalAssets"
										}
									},
									{
										"source": {
											"path": "$['capexToOperatingCashFlow']"
										},
										"sink": {
											"name": "capexToOperatingCashFlow"
										}
									},
									{
										"source": {
											"path": "$['capexToRevenue']"
										},
										"sink": {
											"name": "capexToRevenue"
										}
									},
									{
										"source": {
											"path": "$['capexToDepreciation']"
										},
										"sink": {
											"name": "capexToDepreciation"
										}
									},
									{
										"source": {
											"path": "$['stockBasedCompensationToRevenue']"
										},
										"sink": {
											"name": "stockBasedCompensationToRevenue"
										}
									},
									{
										"source": {
											"path": "$['grahamNumber']"
										},
										"sink": {
											"name": "grahamNumber"
										}
									},
									{
										"source": {
											"path": "$['roic']"
										},
										"sink": {
											"name": "roic"
										}
									},
									{
										"source": {
											"path": "$['returnOnTangibleAssets']"
										},
										"sink": {
											"name": "returnOnTangibleAssets"
										}
									},
									{
										"source": {
											"path": "$['grahamNetNet']"
										},
										"sink": {
											"name": "grahamNetNet"
										}
									},
									{
										"source": {
											"path": "$['workingCapital']"
										},
										"sink": {
											"name": "workingCapital"
										}
									},
									{
										"source": {
											"path": "$['tangibleAssetValue']"
										},
										"sink": {
											"name": "tangibleAssetValue"
										}
									},
									{
										"source": {
											"path": "$['netCurrentAssetValue']"
										},
										"sink": {
											"name": "netCurrentAssetValue"
										}
									},
									{
										"source": {
											"path": "$['investedCapital']"
										},
										"sink": {
											"name": "investedCapital"
										}
									},
									{
										"source": {
											"path": "$['averageReceivables']"
										},
										"sink": {
											"name": "averageReceivables"
										}
									},
									{
										"source": {
											"path": "$['averagePayables']"
										},
										"sink": {
											"name": "averagePayables"
										}
									},
									{
										"source": {
											"path": "$['averageInventory']"
										},
										"sink": {
											"name": "averageInventory"
										}
									},
									{
										"source": {
											"path": "$['daysSalesOutstanding']"
										},
										"sink": {
											"name": "daysSalesOutstanding"
										}
									},
									{
										"source": {
											"path": "$['daysPayablesOutstanding']"
										},
										"sink": {
											"name": "daysPayablesOutstanding"
										}
									},
									{
										"source": {
											"path": "$['daysOfInventoryOnHand']"
										},
										"sink": {
											"name": "daysOfInventoryOnHand"
										}
									},
									{
										"source": {
											"path": "$['receivablesTurnover']"
										},
										"sink": {
											"name": "receivablesTurnover"
										}
									},
									{
										"source": {
											"path": "$['payablesTurnover']"
										},
										"sink": {
											"name": "payablesTurnover"
										}
									},
									{
										"source": {
											"path": "$['inventoryTurnover']"
										},
										"sink": {
											"name": "inventoryTurnover"
										}
									},
									{
										"source": {
											"path": "$['roe']"
										},
										"sink": {
											"name": "roe"
										}
									},
									{
										"source": {
											"path": "$['capexPerShare']"
										},
										"sink": {
											"name": "capexPerShare"
										}
									},
									{
										"source": {
											"path": "$['marketCap']"
										},
										"sink": {
											"name": "marketCap",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['enterpriseValue']"
										},
										"sink": {
											"name": "enterpriseValue",
											"type": "String"
										}
									}
								],
								"collectionReference": "",
								"mapComplexValuesToString": true
							}
						},
						"inputs": [
							{
								"referenceName": "stocks_api_dataset",
								"type": "DatasetReference",
								"parameters": {
									"path": "key-metrics/msft",
									"query": "\"\""
								}
							}
						],
						"outputs": [
							{
								"referenceName": "raw_datalake_dataset",
								"type": "DatasetReference",
								"parameters": {
									"folderPath": {
										"value": "@{pipeline().parameters.apiFolderPath}/keymetrics",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "profile_cleansing_ingestion_dataflow",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Copy profile to raw zone",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "profile_cleansing_ingestion_dataflow",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"stockinfo": {
										"folderPath": "@{pipeline().parameters.apiFolderPath}/profile"
									},
									"sink1": {
										"folderPath": "@{pipeline().parameters.apiFolderPath}/profile"
									}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Copy historical price",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"copyBehavior": "FlattenHierarchy"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['symbol']"
										},
										"sink": {
											"name": "symbol"
										}
									},
									{
										"source": {
											"path": "[['date']"
										},
										"sink": {
											"name": "date"
										}
									},
									{
										"source": {
											"path": "[['open']"
										},
										"sink": {
											"name": "open"
										}
									},
									{
										"source": {
											"path": "[['high']"
										},
										"sink": {
											"name": "high"
										}
									},
									{
										"source": {
											"path": "[['low']"
										},
										"sink": {
											"name": "low"
										}
									},
									{
										"source": {
											"path": "[['close']"
										},
										"sink": {
											"name": "close"
										}
									},
									{
										"source": {
											"path": "[['adjClose']"
										},
										"sink": {
											"name": "adjClose"
										}
									},
									{
										"source": {
											"path": "[['volume']"
										},
										"sink": {
											"name": "volume"
										}
									},
									{
										"source": {
											"path": "[['unadjustedVolume']"
										},
										"sink": {
											"name": "unadjustedVolume"
										}
									},
									{
										"source": {
											"path": "[['change']"
										},
										"sink": {
											"name": "change"
										}
									},
									{
										"source": {
											"path": "[['changePercent']"
										},
										"sink": {
											"name": "changePercent"
										}
									},
									{
										"source": {
											"path": "[['vwap']"
										},
										"sink": {
											"name": "vwap"
										}
									},
									{
										"source": {
											"path": "[['label']"
										},
										"sink": {
											"name": "label"
										}
									},
									{
										"source": {
											"path": "[['changeOverTime']"
										},
										"sink": {
											"name": "changeOverTime"
										}
									}
								],
								"collectionReference": "$['historical']"
							}
						},
						"inputs": [
							{
								"referenceName": "stocks_api_dataset",
								"type": "DatasetReference",
								"parameters": {
									"path": "historical-price-full/msft",
									"query": "from=2018-01-01"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "raw_datalake_dataset",
								"type": "DatasetReference",
								"parameters": {
									"folderPath": {
										"value": "@{pipeline().parameters.apiFolderPath}/historicalprice",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "quote_cleansing_ingestion_dataflow",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Copy quote",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "quote_cleansing_ingestion_dataflow",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {
										"folderPath": {
											"value": "@{pipeline().parameters.apiFolderPath}/quote",
											"type": "Expression"
										}
									},
									"sink1": {
										"folderPath": "@{pipeline().parameters.apiFolderPath}/quote"
									}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "incomestatement_cleansing_ingestion_dataflow",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Copy income statement",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "incomestatement_cleansing_ingestion_dataflow",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {
										"folderPath": {
											"value": "@{pipeline().parameters.apiFolderPath}/incomestatement",
											"type": "Expression"
										}
									},
									"sink1": {
										"folderPath": {
											"value": "@{pipeline().parameters.apiFolderPath}/incomestatement",
											"type": "Expression"
										}
									}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "keymetrics_cleansing_ingestion_dataflow",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Copy key metrics",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "keymetrics_cleansing_ingestion_dataflow",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {
										"folderPath": {
											"value": "@{pipeline().parameters.apiFolderPath}/keymetrics",
											"type": "Expression"
										}
									},
									"sink1": {
										"folderPath": "@{pipeline().parameters.apiFolderPath}/keymetrics"
									}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "historicalprice_cleansing_ingestion_dataflow",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Copy historical price",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "historicalprice_cleansing_ingestion_dataflow",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {
										"folderPath": {
											"value": "@{pipeline().parameters.apiFolderPath}/historicalprice",
											"type": "Expression"
										}
									},
									"sink1": {
										"folderPath": {
											"value": "@{pipeline().parameters.apiFolderPath}/historicalprice",
											"type": "Expression"
										}
									}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"apiFolderPath": {
						"type": "string",
						"defaultValue": "api"
					}
				},
				"folder": {
					"name": "ingestion"
				},
				"annotations": [],
				"lastPublishTime": "2024-09-28T03:58:16Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/profile_cleansing_ingestion_dataflow')]",
				"[concat(variables('factoryId'), '/dataflows/quote_cleansing_ingestion_dataflow')]",
				"[concat(variables('factoryId'), '/dataflows/keymetrics_cleansing_ingestion_dataflow')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ingestion_trigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "ingestion_pipeline_storage",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Month",
						"interval": 1,
						"startTime": "2024-09-27T13:56:00",
						"endTime": "2024-10-27T13:56:00",
						"timeZone": "Atlantic Standard Time"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/main_pipeline_etl_stock_analysis')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ingestion_api",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ingestion_pipeline_api",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "ingestion_storage",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ingestion_pipeline_storage",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "transformation_profit_growth",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "ingestion_api",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "ingestion_storage",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "transformation_pipeline_profit_growth",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "transformation_valuation_comparision",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "ingestion_api",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "ingestion_storage",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "transformation_pipeline_valuation_over_time",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "transformation_voltality_risk",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "ingestion_api",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "ingestion_storage",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "transformation_pipeline_voltality_risk",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "load_warehouse_synapse",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "transformation_profit_growth",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "transformation_voltality_risk",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "transformation_valuation_comparision",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "load_pipeline_warehouse",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/ingestion_pipeline_api')]"
			]
		}
	]
}